[submodule "external/lwip"]
	path = external/lwip
	url = git@afi-git.jinr.ru:islepnev/lwip.git
[submodule "external/STM32Cube"]
	path = external/STM32Cube
	url = git@afi-git.jinr.ru:soft/STM32Cube.git
[submodule "external/FreeRTOS"]
	path = external/FreeRTOS
	url = git@afi-git.jinr.ru:soft/FreeRTOS.git
